.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    border-top: solid 1px #fff;
    box-shadow: 10px 0px 10px rgba(255, 255, 255, 0.5 ) !important; 
    margin-top: 150px;
  }
  
.logo{
  font-size: 40px !important;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
  color: #fff;
}
  .footerLinks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }
  
  .footerColumn {
    flex: 1;
   
    text-align: left;
    margin: 10px ;
  }
  
  .footerColumn h3 {
    font-size: 16px;
    margin-bottom: 30px;
    padding-bottom: 3px; 
    border-bottom: 2px solid #fff;
    display: inline-block;
  }
  

  
  
  .footerColumn ul {
    list-style: none;
    padding: 0;
    margin-top: 0 !important; 

  }
  
  .footerColumn ul li {
    margin-bottom: 8px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .footerColumn ul li:hover {
    color: #bc9c72;
  }
  
  .footerBottom {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .paymentIcons  {
    font-size: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  

  
  